{% extends 'base.html.twig' %}


	             
            
            
        {% block body %}     
	<body>
            <style>
    
		body, html {
                    background-color:black;
                    height:100%;
		}

		p {
                    color:white;
                }
                
                div {
                    border: solid 1px red;
                    color: white;
                    
                }
                
                h1 {
                    text-align: center;
                    color:white;
                }
                
                #archive {
                    text-align: center;
                }
                
                #articles{
                    text-align:center;
                }
                
                #sReadings{
                    text-align: center;
                }            
            </style>
           
            <div class="container-fluid">
                <!--Title Box -->
                <div class="row">
                    <div class="col-sm-12">
                        <h1>KCOP</h1>
                        
                    </div>
                </div>
                <!--Navbar -->
                <nav class="navbar fixed-top navbar-toggleable-lg navbar-inverse">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="/">K.C.O.P.</a>
                    </div>
                     <div class="nav-link navbar-toggler-right">
                        <button class="btn btn-sm btn-outline-secondary" 
                                type="button" 
                                data-toggle="modal" 
                                data-target="#modal_login">
                            Login
                        </button>
                        <button class="btn btn-sm btn-outline-secondary"
                                type="button"
                                data-toggle="modal"
                                data-target="#modal_register">
                            Register
                        </button>
                      </div>
                </nav>    
                <div class="row">
                    <div id="archive" class="col-sm-2 w-100">                        
                        <p>Archives</p>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="ArchiveButton" data-toggle="dropdown">
                                Year
                            </button>
                            <div class="dropdown-menu" aria-labelledby="ArchiveButton">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" id="ArchiveMonthButton" data-toggle="dropdown">
                                        Month
                                    </button>
                                        <div class="dropdown-menu" aria-labelledby="ArchiveMonthButton">
                                            <a class="dropdown-item" href='#'>Article Title/Date</a>
                                            <a class='dropdown-item' href="#">Article Title/Date</a>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                
                    <div id="articles" class="col-sm-8 w-100">
                        <div class="row">
                            <div id="aImage" class="col-sm-2">
                                <p>Image Box</p>
                                <p>An image related to the article would go here</p> 
                            </div>
                            <div id="aContent" class="col-sm-10">
                                <div id="aTitle">Article Title Box</div>
                            <div id="aBlurb">
                                <p>Here is some place filler content. This content is designed to help with page
                                layouts, spacing and design.Here is some place filler content. This content is designed to help with page
                                layouts, spacing and design.Here is some place filler content. This content is designed to help with page
                                layouts, spacing and design.Here is some place filler content. This content is designed to help with page
                                layouts, spacing and design.</p>
                            </div>
                            </div>
                        </div>
                    </div>                   
                    <div id="sReadings" class="col-sm-2 w-100">
                        <p>Suggested Readings Box</p>
                        <p><a href="https://www.zerohedge.com">Zerohedge</a></p>
                    </div>                   
                </div>
                <p>{% include 'Homepage/footer.html.twig' %}</p>
            </div>          
	</body>
{% endblock %}




