{% extends 'base.html.twig' %}


	             
            
            
        {% block body %}     
	<body>
            <style>
    
		body, html {
                    background-color:black;
                    height:100%;
		}

		p {
                    color:white;
                }
                
                div {
                    border: solid 1px red;
                    color: white;
                    
                }
                
                h1 {
                    text-align: center;
                    color:white;
                }
                
                #archive {
                    text-align: center;
                }
                
                #articles{
                    text-align:center;
                }
                
                #sReadings{
                    text-align: center;
                }            
            </style>
           
            <div class="container-fluid">
                <!--Title Box -->
                <div class="row">
                    <div class="col-sm-12">
                        <h1>KCOP</h1>
                        
                    </div>
                </div>
                <!--Navbar -->
                <nav class="navbar fixed-top navbar-toggleable-lg navbar-inverse">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="/">K.C.O.P.</a>
                    </div>
                     <div class="nav-link navbar-toggler-right">
                        <button class="btn btn-sm btn-outline-secondary" 
                                type="button" 
                                data-toggle="modal" 
                                data-target="#modal_login">
                            Login
                        </button>
                        <button class="btn btn-sm btn-outline-secondary"
                                type="button"
                                data-toggle="modal"
                                data-target="#modal_register">
                            Register
                        </button>
                      </div>
                </nav>    
                <div class="row">
                    <div id="archive" class="col-sm-2 w-100">                        
                        <p>Archives</p>
                        <p>A list of previous articles, organized by month</p>
                    </div>
                    
                
                    <div id="articles" class="col-sm-8 w-100">
                        <div class="row">
                            <div id="aImage" class="col-sm-2">
                                <p>Image Box</p>
                                <p>An image related to the article would go here</p> 
                            </div>
                            <div id="aContent" class="col-sm-10">
                                <div id="aTitle">Article Title Box</div>
                            <div id="aBlurb">
                                <p>Here is some place filler content. This content is designed to help with page
                                layouts, spacing and design.Here is some place filler content. This content is designed to help with page
                                layouts, spacing and design.Here is some place filler content. This content is designed to help with page
                                layouts, spacing and design.Here is some place filler content. This content is designed to help with page
                                layouts, spacing and design.</p>
                            </div>
                            </div>
                        </div>
                    </div>                   
                    <div id="sReadings" class="col-sm-2 w-100">
                        <p>Suggested Readings Box</p>
                        <p>A Continuously Updating list of sites followed regularly</p>
                    </div>                   
                </div>
                <p id="opening_para">The start of something big</p>
            </div>          
	</body>
{% endblock %}




